<h1>Listing The details</h1>

 <%= image_tag(current_user.image.url, size: "100x100")%>

<h2>Search Articles</h2>

<%= form_tag articles_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Contact_Number</th>
    <th>Email_Id</th>
    <th>College_Name</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.contact_number %></td>
      <td><%= article.email_id %></td>
      <td><%= article.college_name %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td>
      <%if(current_user.id == article.user_id) %>
       <%= link_to 'Edit', edit_article_path(article) %>
       <% end %>
      </td>
      <td> <% if(current_user.id ==article.user_id) %>
      <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure want to delete?' } %>
                <% end %>
              </td>

    </tr>
  <% end %>
</table>