<h1> Article details </h1>
<p>
  <strong>Name:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Contact_Number:</strong>
  <%= @article.contact_number %>
</p>

<p>
  <strong>Email_Id:</strong>
  <%= @article.email_id %>
</p>

<p>
  <strong>College_Name:</strong>
  <%= @article.college_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @article.text %>
</p>
<hr/>
<hr/>
<h1>Search Comments</h1>

  <%= form_tag article_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
<hr/>


  <h1>Reply Search</h1>

    <%= form_tag article_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :reply_search, params[:reply_search] %>
        <%= submit_tag "reply_search", :name => nil %>
      </p>
    <% end %>
    <hr/>
    

<h2> comments </h2>
 


<%= render 'comments/comment', comments: @comments %>

<%= render 'comments/form' %>




<%= link_to 'Back', articles_path %>
