<p>
  <strong>Name:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Contact_Number:</strong>
  <%= @article.contact_number %>
</p>

<p>
  <strong>Email_Id:</strong>
  <%= @article.email_id %>
</p>

<p>
  <strong>College_Name:</strong>
  <%= @article.college_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @article.text %>
</p>
<h1> Comments </h1>

<%# byebug %>

<%= render 'comments/comment' %>

<%= render 'comments/form' %>




<%= link_to 'Back', articles_path %>
